{% extends "tool_base.html" %}
{% load static %}

{% block head %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static "gld_style.css" %}"/>
	<script type="text/javascript" src="{% static "gld_scripts.js" %}"></script>
	<title>Guava Layout Designer</title>
</head>
{% endblock %}

{% block content %}
<div id="body-div">
<h1>Guava Layout Designer (<a href="add_on_column/">Traverse along columns</a>) (<a href="output">Show old data</a>)</h1>

<table border="0" id="layout">

	<tr class="header"><th>*</th> <th>1</th> <th>2</th> <th>3</th> <th>4</th> <th>5</th> <th>6</th> <th>7</th> <th>8</th> <th>9</th> <th>10</th> <th>11</th> <th>12</th> </tr>

	<tr class="layoutRow"> <td>A</td>
	<td><input type="text" id="1"/></td>	<td><input type="text" id="2"/></td>	<td><input type="text" id="3"/></td>	<td><input type="text" id="4"/></td>
	<td><input type="text" id="5"/></td>	<td><input type="text" id="6"/></td>	<td><input type="text" id="7"/></td>	<td><input type="text" id="8"/></td>
	<td><input type="text" id="9"/></td>	<td><input type="text" id="10"/></td>	<td><input type="text" id="11"/></td>	<td><input type="text" id="12"/></td></tr>

	<tr class="layoutRow"> <td>B</td>
	<td><input type="text" id="13"/></td>	<td><input type="text" id="14"/></td>	<td><input type="text" id="15"/></td>	<td><input type="text" id="16"/></td>
	<td><input type="text" id="17"/></td>	<td><input type="text" id="18"/></td>	<td><input type="text" id="19"/></td>	<td><input type="text" id="20"/></td>
	<td><input type="text" id="21"/></td>	<td><input type="text" id="22"/></td>	<td><input type="text" id="23"/></td>	<td><input type="text" id="24"/></td></tr>

	<tr class="layoutRow"> <td>C</td>
	<td><input type="text" id="25"/></td>	<td><input type="text" id="26"/></td>	<td><input type="text" id="27"/></td>	<td><input type="text" id="28"/></td>
	<td><input type="text" id="29"/></td>	<td><input type="text" id="30"/></td>	<td><input type="text" id="31"/></td>	<td><input type="text" id="32"/></td>
	<td><input type="text" id="33"/></td>	<td><input type="text" id="34"/></td>	<td><input type="text" id="35"/></td>	<td><input type="text" id="36"/></td></tr>

	<tr class="layoutRow"> <td>D</td>
	<td><input type="text" id="37"/></td>	<td><input type="text" id="38"/></td>	<td><input type="text" id="39"/></td>	<td><input type="text" id="40"/></td>
	<td><input type="text" id="41"/></td>	<td><input type="text" id="42"/></td>	<td><input type="text" id="43"/></td>	<td><input type="text" id="44"/></td>
	<td><input type="text" id="45"/></td>	<td><input type="text" id="46"/></td>	<td><input type="text" id="47"/></td>	<td><input type="text" id="48"/></td></tr>

	<tr class="layoutRow"> <td>E</td>
	<td><input type="text" id="49"/></td>	<td><input type="text" id="50"/></td>	<td><input type="text" id="51"/></td>	<td><input type="text" id="52"/></td>
	<td><input type="text" id="53"/></td>	<td><input type="text" id="54"/></td>	<td><input type="text" id="55"/></td>	<td><input type="text" id="56"/></td>
	<td><input type="text" id="57"/></td>	<td><input type="text" id="58"/></td>	<td><input type="text" id="59"/></td>	<td><input type="text" id="60"/></td></tr>

	<tr class="layoutRow"> <td>F</td>
	<td><input type="text" id="61"/></td>	<td><input type="text" id="62"/></td>	<td><input type="text" id="63"/></td>	<td><input type="text" id="64"/></td>
	<td><input type="text" id="65"/></td>	<td><input type="text" id="66"/></td>	<td><input type="text" id="67"/></td>	<td><input type="text" id="68"/></td>
	<td><input type="text" id="69"/></td>	<td><input type="text" id="70"/></td>	<td><input type="text" id="71"/></td>	<td><input type="text" id="72"/></td></tr>

	<tr class="layoutRow"> <td>G</td>
	<td><input type="text" id="73"/></td>	<td><input type="text" id="74"/></td>	<td><input type="text" id="75"/></td>	<td><input type="text" id="76"/></td>
	<td><input type="text" id="77"/></td>	<td><input type="text" id="78"/></td>	<td><input type="text" id="79"/></td>	<td><input type="text" id="80"/></td>
	<td><input type="text" id="81"/></td>	<td><input type="text" id="82"/></td>	<td><input type="text" id="83"/></td>	<td><input type="text" id="84"/></td></tr>

	<tr class="layoutRow"> <td>H</td>
	<td><input type="text" id="85"/></td>	<td><input type="text" id="86"/></td>	<td><input type="text" id="87"/></td>	<td><input type="text" id="88"/></td>
	<td><input type="text" id="89"/></td>	<td><input type="text" id="90"/></td>	<td><input type="text" id="91"/></td>	<td><input type="text" id="92"/></td>
	<td><input type="text" id="93"/></td>	<td><input type="text" id="94"/></td>	<td><input type="text" id="95"/></td>	<td><input type="text" id="96"/></td></tr>
</table>

<br/>

<div class="menuSystem">
<form name="myForm" method="post" action="generate_files/" onSubmit="return validateForm()">
{% csrf_token %}
	<div class="col1">
		<textarea class="controls" id="controls" rows="8" cols="40"></textarea>
		<textarea class="guavaSamples" id="guavaSamples" rows="8" cols="40"></textarea>
		<textarea class="manualFields" name="manualFields" id="manualFields" rows="8" cols="40"></textarea>
	</div>

	<div class="col2">
        	<label for="randomize">Randomize samples</label><input type="checkbox" class="randomize" name="randomize" value="randomize" id="randomize" onClick="populateTable()"/><br/>
		<label for="sampleVolume">Sample Volume</label> <input type="text" class="plateInfo" name="sampleVolume" id="sampleVolume" value="10.0"/><br/>
		<label for="numEvents">Events to acquire</label><input type="text" class="plateInfo" name="numEvents" id="numEvents" value="5000"/><br/>
		<label for="timeLimit">Time limit</label>	<input type="text" class="plateInfo" name="timeLimit" id="timeLimit" value="600"/><br/>
	</div>

	<div class="col3">
		<label for="speed">Speed</label>
		<select name="speed" class="speed" id="speed">
			<option selected="selected" value="1">High</option>
			<option value="2">Medium</option>
			<option value="3">Low</option>
		</select><br/>

		<label for="rowColumn">Run order</label>
		<select name="rowColumn" class="rowColumn" id="rowColumn">
			<option selected="selected" value="1">By Row</option>
			<option value="2">By Column</option>
		</select><br/>
	
		<label for="sessionID">ExperimentID</label>		<input type="text" class="plateInfo" name="sessionID" id="sessionID"/>		<br/>
		<label for="email">Email address</label>		<input type="text" class="plateInfo" name="email" id="email"/>			<br/>
	</div>

	<br/>

	<button type="button" class="b1" onClick="populateTable()">Populate</button>
	<button type="button" class="b1" onClick="resetFields()">Reset Fields</button>
	<button type="button" class="b2" onClick="dumpTable()">Update FROM table</button>
	<input type="submit" class="b3" name="subbtn" value="Submit"/>
	<p style="color: grey; font-size: 0.6em;">Note: All data from the old tool has been copied into this tool's "old_archived_layouts" folder.</p>
</form>
</div>
</div>
{% endblock %}
